// Place all the styles related to the public::patients controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/
.edit_patient {
  margin-left: 220px;
}

#unsubscribe {
  margin-right: 220px;
}

@media screen and (max-width: 768px) {
  html {
    font-size: 10px;
  }
  
  main {
    display: block;
    width: 100%;
  }
  
  th,td {
    font-size: 1vw;
  }
}